@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap');


#page{
  font-family: "Sora", sans-serif;
  transition: margin-top 0.3s ease-in-out;
}

#DivisaoPesquisa {
  width: 90%;
}
#divPesquisaRelatorio[_ngcontent-ng-c829762274] mat-form-field[_ngcontent-ng-c829762274] {
  width: 70%;
}
#tituloPageRelatorio hr {
  border-color: red;
  border: 1px solid #F21C8A;
  margin-top: -1%;
}

#tituloPageRelatorio h1 {
  font-family: "Sora", sans-serif;
  font-weight: 400;
  padding-left: 0.5%;
}

#paginasProcessadas {
  font-family: "Sora", sans-serif;
  color: #aaaaaa;
  margin-top: -0.5%;
  padding-left: 0.5%;
}

#inputTipoDocumento {
  padding: 2%;
  width: 100%;
  border-radius: 5px;
  border: 1.5px solid #a8a8a8;
  border-radius: 5px;
  outline: none;
}

#inputTipoDocumento:focus {
  border:1.5px solid #575757;
  outline: none;
}


#inputSearch{
  display: flex;
  width: 97%;
}


#icon-lupa {
 font-size: 1rem;
}

#icon-lupa{
  color: #F21C8A;
  font-size: 1.2rem;
  transition: 0.6s;
  margin-left: -6%;
  margin-top: 2%;
}
#msg-pesquisa{
  padding: 10%;
}

#divPesquisaRelatorio {
  display: flex;
  align-items: center;
  column-gap: 20px;
  font-family:  "Sora", sans-serif;
  margin-bottom: 2%;
}

#tipoRelatorioInput {
  display: flex;
  flex-direction: column;
  color: #3F3F3F;
}

input[type='radio'] {
  accent-color: #F21C8A;
  border: 1px solid red;
}

#inputTipoDocumento{
  width: 20%;
}

#inputsAnaliticos{
  display: flex;
  flex-wrap: wrap;
  width: 80%;
}

#icon-xmark{
  transition: 0.6s;
  margin-left: 3%;
  margin-top: 3%;
  cursor: pointer;
  transition: color 0.3s ease;
}

#inputData{
  border: 1px solid #a8a8a8;
  background-color: rgb(255, 255, 255);
  border-radius: 5px;
  margin-left: 1%;
  width: 40%;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 2%;
}

#iconInputData{
  color: #F21C8A;

}
#buttonBaixar{
  display: flex;
  width: 25%;
  margin-left: 2%;
}

#baixarRelatorio{
  padding: 2% 5% 2% 5%;
  border:2px solid #F21C8A;
  color: #F21C8A;
  border-radius: 5px;
  cursor: pointer;
  
  font-family:"Sora", sans-serif;
  font-weight: 800;
  transition: 0.6s;
  box-shadow: 0px 8px 17px -8px rgb(22, 22, 22);
}

#baixarRelatorio:hover{
  background-color: #F21C8A;
  color: white;

}
.titulo-sintetico{
  color: #aaaaaa;
}
/* Estilizando o campo de entrada do Angular Material */
.custom-form-field {
  width: 100%;
}

.custom-form-field .mat-form-field-flex {
  border-radius: 5px !important;
  background-color: #fff !important; /* Define a cor de fundo branca */
  transition: border-color 0.3s !important;
  padding: 0.5em !important; /* Ajuste conforme necessário */
}

.custom-form-field .mat-form-field-infix {
  border-radius: 5px !important;
}

.custom-form-field .mat-input-element {
  border-radius: 5px !important;
  background-color: #fff !important; /* Define a cor de fundo branca */
  padding: 0.5em !important; /* Ajuste conforme necessário */
}

.mat-icon {
  color: #F21C8A !important;
  font-size: 1.2rem !important;
  transition: font-size 0.6s !important;
  margin-left: -6% !important;
  margin-top: 2% !important;
}

/* Estilizando o botão de limpar */
#clear-button {
  border: none !important;
}

/* Exibir o botão de limpar quando o campo de entrada estiver focado */
.custom-form-field .mat-form-field-flex:focus-within + .clear-button {
  display: inline-flex !important;
}

/* Exibir o botão de limpar quando houver texto no campo de entrada */
.custom-form-field .mat-input-element:not(:placeholder-shown) ~ .clear-button {
  display: inline-flex !important;
}


