<section id="page" [class.autocomplete-focused]="autocompleteFocused">
  <div id="tituloPageRelatorio">
    <h1>Relatório - Analítico</h1>
    <p id="paginasProcessadas">Páginas Processadas: {{totalPaginas}} -  {{selectedOption ? selectedOption : 'Nenhuma empresa selecionada'}}</p>
    <hr />
  </div>

  <div id="divPesquisaRelatorio">
    <div id="inputsAnaliticos">
      <!--input de pesquisa-->
        <div id="inputSearch">
          <mat-form-field appearance="fill" color="accent" class="custom-form-field">
            <mat-label>Pesquisar por nome da empresa</mat-label>
            <input
              type="text"
              id="inputPesquisa"
              matInput
              [formControl]="myControl"
              [matAutocomplete]="auto"
              (change)="onInputChange($event)"
              style="color: #F21C8A; "
            />
            <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
              <mat-option *ngFor="let option of filteredOptions | async" [value]="option" (onSelectionChange)="onAutocompleteOptionSelected()">
                {{option.empresaID}}
              </mat-option>
            </mat-autocomplete>
            <button mat-button id="clear-button"
            matSuffix mat-icon-button aria-label="Clear"
               (click)="myControl.setValue('')">
              <mat-icon>close</mat-icon>
            </button>
          </mat-form-field>
        </div>
      <!--input tipo de documento-->
      <input
        type="text"
        id="inputTipoDocumento"
        matInput
        (keyup)="applyFilter($event)"
        placeholder="Tipo de documento"
        #input
      />
      <i id="icon-xmark" class="fa-solid fa-circle-xmark" (click)="resetDateFilter(startInput, endInput)"></i>
      <!--inputs de data-->
      <div id="inputData">
        <mat-date-range-input color="accent" [rangePicker]="picker" id="">
          <input
            matStartDate
            placeholder="Início"
            matInput
            (dateChange)="applyDateFilter('start', $event)"
            #startInput
          />
          <input
            matEndDate
            placeholder="Fim"
            matInput
            (dateChange)="applyDateFilter('end', $event)"
            #endInput
          />
        </mat-date-range-input>
        <mat-datepicker-toggle
          id="iconInputData"
          matIconSuffix
          [for]="picker"
        ></mat-datepicker-toggle>
        <mat-date-range-picker #picker></mat-date-range-picker>
      </div>

      
      <div id="buttonBaixar">
        <button id="baixarRelatorio" (click)="exportData()">
          Baixar Relatório
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="16"
            height="16"
            fill="currentColor"
            class="bi bi-download"
            viewBox="0 0 16 16"
          >
            <path
              d="M.5 9.9a.5.5 0 0 1 .5.5v2.5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2.5a.5.5 0 0 1 1 0v2.5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2v-2.5a.5.5 0 0 1 .5-.5"
            />
            <path
              d="M7.646 11.854a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V1.5a.5.5 0 0 0-1 0v8.793L5.354 8.146a.5.5 0 1 0-.708.708z"
            />
          </svg>
        </button>
      </div>
    </div>

    
    <!--input - tipo de relatório-->

  </div>

  <div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource" matSort>
      <!-- Tipo de Documento Column -->
      <ng-container matColumnDef="tipoDocumento">
        <th
          class="titulo-sintetico"
          mat-header-cell
          *matHeaderCellDef
          mat-sort-header
        >
          Tipo de documento
        </th>
        <td mat-cell *matCellDef="let row">{{ row.tipoDocumento }}</td>
      </ng-container>

      <!-- Data Column -->
      <ng-container matColumnDef="dataID">
        <th
          class="titulo-sintetico"
          mat-header-cell
          *matHeaderCellDef
          mat-sort-header
        >
          Data
        </th>
        <td mat-cell *matCellDef="let row">{{ row.dataID | date: 'dd/MM/yyyy' }}</td>
      </ng-container>

      <!-- QTD_PAG Column -->
      <ng-container matColumnDef="qtdPag">
        <th
          class="titulo-sintetico"
          mat-header-cell
          *matHeaderCellDef
          mat-sort-header
        >
          Quantidade de páginas processadas
        </th>
        <td mat-cell *matCellDef="let row">{{ row.qtdPag }}</td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

      <!-- Row shown when there is no matching data. -->
      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="4">
      Selecione uma empresa para filtrar os dados!
        </td>
      </tr>
    </table>

    <mat-paginator
      [pageSizeOptions]="[5]"
      aria-label="Items por página"
    ></mat-paginator>
  </div>

  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
  />
</section>
