
@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap');

#page{
  margin-top: -8%;
  font-family: "Sora", sans-serif;
}


#DivisaoPesquisa {
  width: 90%;
}
#divPesquisaRelatorio[_ngcontent-ng-c829762274] mat-form-field[_ngcontent-ng-c829762274] {
  width: 70%;
}
#tituloPageRelatorio hr {
  border-color: red;
  border: 1px solid #F21C8A;
  margin-top: -1%;
}

