.container {
    display: flex;
    flex-direction: column;
    justify-content: center; /* Alinha verticalmente no centro */
    align-items: center; /* Alinha horizontalmente no centro */
    height: 100vh; /* Altura total da viewport */
  }
  
  .form {
    width: 100%; /* Largura desejada para o formulário */
  }
  
  .container .mat-form-field {
    width: 600px; /* Largura desejada do mat-form-field */
  }